body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.task-input {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 10px;
  margin-top: 8px;
  background: #f0f0f0;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
.dark-mode {
  background: #222;
  color: white;
}
